<nav class="bg-gray-50">
  <div class="w-full flex items-center justify-between mx-auto p-4">
    <a href="https://github.com/eql1" class="flex items-center">
      <span
        class="self-center text-2xl font-semibold hover:text-blue-500 transition duration-150"
        >Examination App</span
      >
    </a>
    <div class="flex flex-wrap content-start">
      <ul class="justify-between flex font-medium space-x-8">
        <li class="inline-block">
          <a routerLink="/users-component" routerLinkActive="active-link"
            >Users</a
          >
        </li>
        <li class="inline-block">
          <a routerLink="/exams-component" routerLinkActive="active-link"
            >Exams</a
          >
        </li>
        <li class="inline-block">
          <a href="#" routerLinkActive="active-link">Report</a>
        </li>
      </ul>
    </div>
    <a class=""
      ><button
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 focus:outline-none"
      >
        Profile
      </button></a
    >
  </div>
</nav>
