<nav class="bg-gray-50">
  <div class="w-full flex items-center justify-between mx-auto p-4">
    <a href="https://github.com/eql1" class="flex items-center">
      <span
        class="self-center text-2xl font-semibold hover:text-blue-500 transition duration-150"
        >Examination App</span
      >
    </a>
    <div class="flex flex-wrap content-start">
      <ul class="justify-between flex font-medium space-x-8">
        <li class="inline-block">
          <a routerLink="/users-component">Users</a>
        </li>
        <li class="inline-block">
          <a routerLink="/exams-component">Exams</a>
        </li>
        <li class="inline-block"><a href="#">Report</a></li>
      </ul>
    </div>
    <a class=""
      ><button
        class="font-semibold text-md border px-16 py-2 rounded-md border-gray-700 hover:bg-cyan-100 transition duration-150"
      >
        Profile
      </button></a
    >
  </div>
</nav>
